{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<br></br>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Voues étes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnection</a>
        </div>
    {% endif %}
<br></br>

    <h1 class="h3 mb-3 font-weight-normal fw-bold"> CLIENTS EXISTANTS</h1>
      
    <p class="h3 mb-3 font-weight-normal"> Se connecter suivant</p>
    
    <label for="inputEmail">ADRESSE E-MAIL</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
<br></br>
<label for="inputPassword">VOTRE MOT DE PASSE</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
     <a href="{{ path('app_forgot_password_request') }}" class="text-dark">Mot de passe oublié</a>

<br></br>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">


    <button class="btn btn-success mt-3" type="submit">
        S'IDENTIFIER
    </button>
</form>
{% endblock %}
