{% extends 'base.html.twig' %}

{% block title %}{{produit.nom}}{% endblock %}

{% block body %}
<br></br>
<h1 class="fw-bold">{{produit.nom}}</h1>
<br></br>
    <div class="row">
    <div class="col-12 col-md-3">
    {#on vérifie si le produit a des images#}
    {% if produit.images|length > 0 %}
   {# on affiche la première image#}
   <a href="{{asset('images/produit/' ~ produit.images[0].imageName) }}" data-lightbox="{{produit.nom}}">
    <img src="{{asset('images/produit/' ~ produit.images[0].imageName) }}" alt="{{produit.nom}}" class="img-fluid" id="img-big">
   </a>
   {# on vérifie s'il ya plus d'une image dans la collection #}
    {% if produit.images|length > 1 %}
    <div class="row justify-content-between">
      {% for image in produit.images %}
      {% if loop.index0 > 0 %}
     <div class="img-30 mt-5 cursor-pointer">
     <img src="{{asset('images/produit/' ~ produit.images[loop.index0].imageName) }}" alt="" class="img-fluid">
    </div> 
     {% endif %}
     {% endfor %}
    </div>
    {% endif %}
   {% endif %}
  <br></br>
</div>


 <div class="col-12 col-md-9">
   <div>{{ produit.description|raw }}</div>
    <div>
    
    <ul>
      {% for article in produit.articles %}
      <li><a href="{{ path('app_front_article_show', {slug: article.slug}) }}">{{article.articleName}}</a> </li>
      {% endfor %}
    </ul>
    </div>
   <div>Prix: {{ produit.prix|format_currency('EUR') }}</div>
   <a href="{{ path('app_front_panier_add', {id: produit.id}) }}" class="btn btn-success mt-3"><i class="fa-solid fa-cart-shopping"></i> Ajoutez</a>


</div>
    </div>
{% endblock %}
{% block javascipts %}
  <script>
  // on récupère les objects de la classe cursor-pointer
  $('.cursor-pointer').on('click', function(e){
       e.stopPropogation();
       // on récupère la valeur de l'attribut src de l'image cliquée
       let itemSource = $(this).find('img').attr('src');
       // on récupère la valeur de l'attribut src de la grande image
       let currentSource = $('#img-big').attr('src');
       // on remplace l'attribut src de la grande image par celui de celle cliquée et on remplace
       // également l'attribut href de la balise
       $('#img-big').attr('src', itemSource);
       $('#img-big').parent().attr("href", itemSource);
       // on change le src de l'image cliquée 
       $(this).find('img').attr('src', currentSource); 
  });
  </script>
{% endblock %}