{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

<div class="bg-light p-3">
<h1>Votre panier</h1>
 </div>

<table class="table">
 <thead>
    <tr>
     <th>Produit</th>
     <th class="text-center">Prix</th>
     <th class="text-center">Quantité</th>
     <th class="text-center">Total</th>
     <th class="text-end">Actions</th>
    </tr>   
 </thead>
 <tbody>
 
   {% for element in dataPanier %}
          <tr>
             <td>{{ element.produit.nom }}</td>
             <td class="text-center">{{ element.produit.prix }} £</td>
             <td class="text-center">{{ element.quantite }}</td>
             <td class="text-center">{{ element.quantite * element.produit.prix }} £</td>
             <td class="text-end">
                 <a href="{{ path('app_front_panier_add', {id: element.produit.id}) }}" class="btn btn-success">
                <i class="fa-solid fa-cart-shopping"></i>
                 </a>
                <a href="{{ path('app_front_panier_remove', {id: element.produit.id}) }}" class="btn btn-warning">
                  <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <a href="{{ path('app_front_panier_delete', {id: element.produit.id}) }}" class="btn btn-danger">
                 <i class="fa-solid fa-cart-shopping"></i>
            </a>
             </td>
         </tr>
   {% else %}
      <tr>
       <td colspan="5" class="text-center">Votre panier est vide</td>
     </tr>
 {% endfor %}


 
 
 </tbody>
 <tfoot>
   <tr>
    <td colspan="3">Total</td>
    <td class="text-center">{{ total}} £</td>
     <td class="text-end">
      <a href="{{ path('app_front_panier_delete_all') }}" class="btn btn-danger">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </td>

  </tr>
 </tfoot>
</table>
{# {{ dump()}} #}

{% endblock %} 
