{% extends 'base.html.twig' %}

{% block title %}Nos catégories{% endblock %}

{% block body %}
<h1>Nos catégories</h1>
    <div class="row">
    {% for categorie in categories %}
    <div class="col-12 col-md-3 d-flex align-item-stretch">
      <div class="card d-flex">
       {% set image = "default.jpg" %}
       {% if categorie.imageName is not null %}
       {% set image = categorie.imageName %}
       {% endif %}
      <img src="{{ asset('images/categorie/' ~ image)}}" class="card-img-top" alt="{{categorie.nom}}">
      <div class="card-body d-flex justify-content-center">
      <div class="align-self-end text-center">
    <h5 class="card-title">{{ categorie.nom }}</h5>
     {# <p class=" card-text">{{ categorie.description }}</p> #}
    <a href="{{ path('app_front_categorie', {'slug': categorie.slug}) }}" class="btn btn-dark ">Voir</a>

    
      </div>
      
      </div>
      
    </div>

    </div>
    {% else %}
    Aucune catégories
{% endfor %}

   </div>
{% endblock %}
