{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ commande.reference }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td>{{ commande.produit }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ commande.total }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Envoyer</th>
                <td>{{ commande.envoyer }}</td>
            </tr>
            <tr>
                <th>Reçu</th>
                <td>{{ commande.reçu }}</td>
            </tr>
            <tr>
                <th>Payer</th>
                <td>{{ commande.payer }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_commande_index') }}">back to list</a>

    <a href="{{ path('app_admin_commande_edit', {'id': commande.id}) }}">edit</a>

    {{ include('admin_commande/_delete_form.html.twig') }}
{% endblock %}
